
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>myBar Administration</h1>
</div>

<div class="row">
    <div class="col-md-2">
        <p>@Html.ActionLink( "OrderStates", "Index", "OrderStates", null, new { @class = "btn btn-primary btn-lg" } )</p>
    </div>
    <div class="col-md-2">
        <p>@Html.ActionLink( "ProductStates", "Index", "ProductStates", null, new { @class = "btn btn-primary btn-lg" } )</p>
    </div>    
    <div class="col-md-2">
        <p>@Html.ActionLink( "Units", "Index", "Units", null, new { @class = "btn btn-primary btn-lg" } )</p>
    </div> 
    <div class="col-md-2">
        <p>@Html.ActionLink( "Places", "Index", "Places", null, new { @class = "btn btn-primary btn-lg" } )</p>
    </div> 
    <div class="col-md-2">
        <p>@Html.ActionLink( "Products", "Index", "Products", null, new { @class = "btn btn-primary btn-lg" } )</p>
    </div> 
    <div class="col-md-2">
        <p>@Html.ActionLink( "Producttypes", "Index", "ProductTypes", null, new { @class = "btn btn-primary btn-lg" } )</p>
    </div> 
</div>




